body {
  background-color: #393E46;
}

.both-dice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.dice {
  text-align: center;
  display: inline-block;
}

h1 {
  margin: 1.875rem;
  font-family: 'Lobster', cursive;
  text-align: center;
  text-shadow: 5px 0 #232931;
  font-size: calc(2rem + 4vw);
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn {
  color: #4ECCA3;
  border-color: #4ECCA3;
}

footer {
  margin-top: 5%;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

a {
  color: #EEEEEE;
  text-decoration: none;
}

a:hover {
  color: #4ECCA3;
}

